{% extends 'files/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% block content %}
{% include 'navbar.html' %}
<div class="container-fluid" id="allposts">
    <div class="row">
        <div class="col-md-7" class="allposts">
            <div>
                {% for post in posts %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Posted By: {{post.name.username}}</h3>
                    </div>
                    <div class="panel-body">
                        <p>{{post.details}}</p>
                    </div>    
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4" class="addposts">
            <button type="submit" class="btn btn-lg btn-info">Create New Post</button>
            <form method="POST" action="{% url 'allposts' %}">
                {% csrf_token %}
                {% bootstrap_form form %}

                <input type="submit" value="Enter Post" class="btn btn-lg btn-info btn-block">

            </form>

        </div>


    </div>
</div>


{% endblock %}