{% extends 'files/base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block content %}

<div class="container-fluid" id="homepage">
    <div class="row">
        <div class="col-md-3">
            <div class="locationlist">
                <div>
                    <p style="font-size: 14px;">We currently have houses in the below locations</p>
                </div>
                {% for location in locations %}
                <a><li>{{location.name}}</li></a>
                {% endfor %}
                <br>
                <a href="{% url 'newlocation' %}"><p style="color: white; border: none;">ADD A NEW LOCATION</p></a>
                <small style="font-size: 12px; font-style: italic;">(A new location should be input if it does not currently exist)</small>
            </div>

        </div>
        <div class="col-md-9">
            {% include 'navbar.html' %}
            <div>
                {% for home in homes %}
                <div class="image-card col-md-6">
                    <a href="{% url 'onehome' home.pk %}"><h3>View House: {{home.name}}</h3></a>
                    <img src="{{home.images.url}}" alt="{{home.name}} image showing the view of the house">
                </div>                
               
                {% endfor %}
            </div>

        </div>
      
    </div>
</div>

{% endblock %}