{% extends 'files/base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block content %}
{% include 'navbar.html' %}
<div class="container-fluid" id="onehomedetails">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="card">
                <h2>Name: {{home.name}}</h2>
                <h2>Location: {{home.location}}</h2>
                <h2>Capacity: {{home.capacity}} beds</h2>
                <div class="quantity" style="margin-left:auto;">
                    <p>Current Capacity:</p>
                    <button class="btn minus-btn" type="button">-</button>
                    <input type="text" id="quantity" value="{{home.capacity}}">
                    <button class="btn plus-btn disabled">+</button>
                    <p>Current Bed Capacity is:<span id="currentcapacity"></span>beds</p>
                </div>
                <br>
                <br>

                <img src="{{home.images.url}}" style="height: 500px; object-fit: cover;">
    
            </div>
        </div>
       
    </div>
</div>

{% endblock %}