*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.homepage-images h4{
    color: red;
}

.homepage-images img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.oneimageimages img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}

#landingpage{
    /* background-color: #faf6f5; */
    height: 100vh;

}

#landingpageheaders{
    border: 1px solid black;
    /* background-color: #b5a0a2; */
    background-image: url('../../../media/images/background.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 80vh;
    margin-top: 65px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.landingpageheaders ul a{
    text-decoration: none;
    list-style-type: none;
    display:inline-block;
    flex-direction: row;
    margin-left: 140px;
    margin-top: 20px;
    color: black;
}

#landingpageheaders h3{
    /* color: white; */
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
}


#landingpageheaders p{
    /* color: white; */
    text-align: center;
    font-size: 32px;
}

#homepage{
    font-size: 16px;
}

.image-card img{
    object-fit: cover;
    margin-bottom: 20px;
}

.image-card a h3{
    text-decoration: none;
    cursor: pointer;
    color: black;
    text-decoration: black;
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
    font-style: italic;
}

.locationlist{
    /* background-color: gold; */
    background-image: url('../../../media/images/homepage.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    text-align: right;
    justify-content: right;
    padding-right: 20px;
    color: white;
}
.locationlist ul{
    padding-top: 40px;
}

.locationlist ul li{
    list-style-type: none;
    /* padding-top: 60px; */
    padding-right: 20px;
}

#onehomedetails{
    font-size: 16px;
}

#onehomedetails h2{
    text-align: center;
    align-items: center;
    padding-top: 20px;
}

#searchedhomes{
    font-size: 16px;
}

#addhome{
    font-size: 16px;
}

.addnewhome{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.addnewhome form{
    border: 1px solid gainsboro;
    padding: 70px;
    border-radius: 10px;
}

.btn{
    background-color: #d9b684;
}

#addlocation{
    font-size: 16px;
}

.addnewlocation{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 50px;
}

.addnewlocation form{
    border: 1px solid gainsboro;
    padding: 70px;
    border-radius: 10px;
}

#allposts{
    font-size: 16px;
}

.allposts{
    margin-left: 40px;
    margin-right: 40px;
}

.addposts{
    margin-right: 40px;
}

#landing-page-container{
    font-size: 16px;
}

.landing-page-form{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    height: 100vh;
}

.landing-page-form p{
    text-align: center;
}

.landing-page-form h4{
    text-align: center;
}

.landing-page-form form{
    padding: 40px;
    border-radius: 10px;
}

.registration-form form input{
    border:none;
}

.registration{
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}



